<script type="text/javascript">
	function addRowToParticipantes()
	{
		parts++;

		var row = $("#table1 tr:last-child").clone();
		row.children()[0].firstChild.setAttribute("name","pesquisa[participantes[nome"+parts+"]]");
		row.children()[0].firstChild.value = "";
		row.children()[1].childNodes[1].setAttribute("name","pesquisa[participantes[tipo"+parts+"]]");
		row.appendTo("#table1");
	}

	function addRowToFinanciadores()
	{
		finan++;

		var row = $("#table2 tr:last-child").clone();
		row.children()[0].firstChild.setAttribute("name","pesquisa[financiadores[nome"+finan+"]]");
		row.children()[0].firstChild.value = "";
		row.children()[1].childNodes[1].setAttribute("name","pesquisa[financiadores[tipo"+finan+"]]");
		row.appendTo("#table2")
	}

	var parts;
	var finan;
	var oneHasNotBeenDeletedParts = true;
	var oneHasNotBeenDeletedFinan = true;

	$(document).ready(function()
	{
		var maximum = 0;
		$("label").each(function()
		{
			if ($(this).width() > maximum)
				maximum = $(this).width();
		});
		$("label").width(maximum+100);
		$("label").css("display","block");

		var textParticipantes = $("#table1 tr:last-child").clone().children()[0].firstChild.getAttribute("name");
		var textFinanciadores = $("#table2 tr:last-child").clone().children()[0].firstChild.getAttribute("name");
		parts = parseInt(textParticipantes[27]);
		finan = parseInt(textFinanciadores[27]);

		$("form#new_pesquisa").on('mouseover', 'td#delete', function()
		{
			var table = this.parentNode.parentNode.parentNode.getAttribute("id");

			if (table == "table1" && parts == 1)
				return;
			if (table == "table2" && finan == 1)
				return;

			this.childNodes[1].style.visibility = 'visible';
		});
		$("form#new_pesquisa").on('mouseout', 'td#delete', function()
		{
			var table = this.parentNode.parentNode.parentNode.getAttribute("id");

			if (table == "table1" && parts == 1)
				return;
			if (table == "table2" && finan == 1)
				return;

			if (this.childNodes[1].style.visibility == 'visible')
				this.childNodes[1].style.visibility = 'hidden';
		});
		$("form#new_pesquisa").on('click', 'td#delete', function()
		{
			if (this.childNodes[1].style.visibility == 'hidden')
				return;
			else
			{
				var table = this.parentNode.parentNode.parentNode.getAttribute("id");

				var elemNumber = parseInt(this.parentNode.childNodes[1].childNodes[0].getAttribute("name")[27]);

				var rowNumber;

				var allNode = $(this).parent().parent().contents();

				if (table == "table1")
				{
					if (elemNumber < parts)
					{
						for (var i = 1;i<=parts;i++)
						{
							if (i > elemNumber)
							{
								rowNumber = i + 2;
									this.parentNode.parentNode.childNodes[rowNumber].childNodes[1].childNodes[0].setAttribute("name","pesquisa[participantes[nome"+(i-1)+"]]");
									this.parentNode.parentNode.childNodes[rowNumber].childNodes[3].childNodes[1].setAttribute("name","pesquisa[participantes[tipo"+(i-1)+"]]");
							}							
						}
					}
					parts--;
					if (elemNumber == 1 && oneHasNotBeenDeletedParts)
					{
						$(allNode.get()[elemNumber + 1]).remove();
						oneHasNotBeenDeletedParts = false;
					}
					else
						$(allNode.get()[elemNumber + 2]).remove();
				}


				if (table == "table2")
				{
					if (elemNumber < finan)
					{
						for (var i = 1;i<=finan;i++)
						{
							if (i > elemNumber)
							{
								rowNumber = i + 2;
									this.parentNode.parentNode.childNodes[rowNumber].childNodes[1].childNodes[0].setAttribute("name","pesquisa[financiadores[nome"+(i-1)+"]]");
									this.parentNode.parentNode.childNodes[rowNumber].childNodes[3].childNodes[1].setAttribute("name","pesquisa[financiadores[tipo"+(i-1)+"]]");
							}							
						}
					}
					finan--;
					if (elemNumber == 1 && oneHasNotBeenDeletedFinan)
					{
						$(allNode.get()[elemNumber + 1]).remove();
						oneHasNotBeenDeletedFinan = false;
					}
					else
						$(allNode.get()[elemNumber + 2]).remove();
				}

			}
				
		});
	});
</script>
<% if @pesquisa.errors.any? %>
  <div id="error_explanation" >
    <h5><%= pluralize(@pesquisa.errors.count, "error") %>
    prohibited this pesquisa from being saved:</h5>
    <ul>
      <% @pesquisa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@pesquisa) do |p|%>
  <%= p.label :nome, 'Título *' %>
  <%= p.text_field :nome %><br/>

  <%= p.label :descricao, 'Descrição *' %>
  <%= p.text_area :descricao, :cols => 80, :rows => 15 %><br/>
  <br/>

  <%= p.label :participantes, 'Participantes' %>
  <%= p.fields_for :participantes do |part| %>
    <table id="table1">
      <tr>
        <th>Nome
        </th>
        <th>Tipo
        </th>

        <td><%= image_tag "plus.png", :size => '18x18', :style => 'cursor:pointer;', :title => 'Add participante', :onClick => 'addRowToParticipantes();' %>
        </td>      
      </tr>

      <% i = 0%>
      <% @pesquisa.participantes.each do i=i+1%>
      <% end %>

      <% if i == 0 %>
        <% i = 2 %>
      <% end %>

      <% for j in 1..i/2%>

        <tr>
          <td><input name="pesquisa[participantes[nome<%= j.to_s %>]]" value="<%= @pesquisa.participantes['nome'+j.to_s] %>" size="20" type="text" />
          </td>
          <td>
            <select name="pesquisa[participantes[tipo<%= j.to_s %>]]" value="<%= @pesquisa.participantes['tipo'+j.to_s] %>">
              <%= options_for_select([['Integrante','Integrante'],['Coordenador','Coordenador']],@pesquisa.participantes['tipo'+j.to_s]) %>
            </select>
          </td>
          <td id="delete">
            <img src='/assets/trash-icon.png' style="visibility:hidden;">
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br/>

  <%= p.label :financiadores, 'Financiadores' %>
  <%= p.fields_for :financiadores do |f|%>
    <table id="table2">
      <tr>
        <th>Nome
        </th>
        <th>Tipo
        </th>

        <td><%= image_tag "plus.png", :size => '18x18', :style => 'cursor:pointer;', :title => 'Add participante', :onClick => 'addRowToFinanciadores();' %>
        </td>      
      </tr>

      <% k = 0%>
      <% @pesquisa.financiadores.each do k=k+1%>
      <% end %>

      <% if k == 0 %>
        <% k = 2 %>
      <% end %>

      <% for l in 1..k/2%>

        <tr>
          <td><input name="pesquisa[financiadores[nome<%= l.to_s %>]]" value="<%= @pesquisa.financiadores['nome'+l.to_s] %>" size="20" type="text" />
          </td>
          <td>
            <select name="pesquisa[financiadores[tipo<%= l.to_s %>]]" value="<%= @pesquisa.financiadores['tipo'+l.to_s] %>">
              <%= options_for_select([['Auxílio Financeiro','Auxílio Financeiro'],['Bolsa','Bolsa']], @pesquisa.financiadores['tipo'+l.to_s]) %>
            </select>
          </td>
          <td id="delete">
            <img src='/assets/trash-icon.png' style="visibility:hidden;">
          </td>
        </tr>
      <% end %>

    </table>
  <% end %>
  <br/>

  <%= p.submit %>
<% end %>
<br/>
