<script>
  $(document).ready(function()
  {
    var maximum = 0;
    $("label").each(function()
    {
      if ($(this).width() > maximum)
      maximum = $(this).width();
    });
    $("label").width(maximum+100);
    $("button").css("margin-left",(maximum+100)+'px');
    $("label").css("display","block");
    $("#n5").css("background-color","white");
    $("#n5").css("border-top","4px solid #441d8d");
    $("#n5").css("border-top-right-radius","10px");
    $("#n5").css("color","black");
    $("title").text($("title").text() +" - Contato");
    var url = document.URL.split("/");
    if (url[url.length - 1].length > 7)
    {
      var variables = url[url.length - 1].substr(8).split("&");
      for (i = 0;i < 4;i++)
      {
        var temp = variables[i].split("=");
        switch (i)
        {
          //%2A == "*"
          case 0:
            var email = temp[1];
            if (email.search("%2A") == email.length - 3)
            {
              email = email.slice(0, email.search("%2A"));
              $("input#email").css("border","2px solid red");
              $("input#email").prev().css("color","red");
            }
            break;
          case 1:
            var message = temp[1];
            if (message.search("%2A") == message.length - 3)
            {
              message = message.slice(0, message.search("%2A"));
              $("textarea#msg").css("border","2px solid red");
              $("textarea#msg").prev().css("color","red");
            }
            break;
          case 2:
            var name = temp[1];
            if (name.search("%2A") == name.length - 3)
            {
              name = name.slice(0, name.search("%2A"));
              $("input#name").css("border","2px solid red");
              $("input#name").prev().css("color","red");
            }
            break;
          case 3:
            var subject = temp[1];
            if (subject.search("%2A") == subject.length - 3)
            {
              subject = subject.slice(0, subject.search("%2A"));
              $("input#subject").css("border","2px solid red");
              $("input#subject").prev().css("color","red");
            }
            break;
        }
      }

      $("input#name").attr("value", name.split("+").join(" "));
      $("input#email").attr("value", email.split("+").join(" "));
      $("input#subject").attr("value", subject.split("+").join(" "));
      $("textarea#msg").attr("value", message.split("+").join(" "));
    }
  })
</script>

<%= form_for :contact, :name => "contato" do |f| %>
  <label>Nome</label>
  <%= f.text_field :name, :id => "name",:size => 20 %><br/>
  <label>E-mail</label>
  <%= f.text_field :from, :id => "email", :size => 20 %><br/>
  <label>Assunto</label>
  <%= f.text_field :subject, :id => "subject", :size => 20 %><br/>
  <label>Mensagem</label>
  <%= f.text_area :message, :id => "msg" %><br/>
  <%= f.submit 'Enviar', :id => "submit_button" %>
<% end %> 

