<script>
	function addRowToParticipantes()
	{
		parts++;

		var row = $("#table1 tr:last-child").clone();
		row.children()[0].firstChild.setAttribute("name","publicacao[participantes[nome"+parts+"]]");
		row.children()[0].firstChild.value = "";
		row.appendTo("#table1");
	}

	var parts;
	var oneHasNotBeenDeleted = true;

	$(document).ready(function()
	{
		$("#n4").css("background-color","white");
		$("#n4").css("border-top","4px solid #441d8d");
		$("#n4").css("border-top-right-radius","10px");
		$("#n4").css("color","black");
		$("title").text($("title").text() +" - Publicação - Editar");
		var textParticipantes = $("#table1 tr:last-child").clone().children()[0].firstChild.getAttribute("name");
		parts = parseInt(textParticipantes[29]);

		$("#table1").on('mouseover', 'td#delete', function()
		{
			if (parts == 1)
				return;

			this.childNodes[1].style.visibility = 'visible';
		});

		$("#table1").on('mouseout', 'td#delete', function()
		{
			if (parts == 1)
				return;

			if (this.childNodes[1].style.visibility == 'visible')
				this.childNodes[1].style.visibility = 'hidden';
		});

		$("#table1").on('click', 'td#delete', function()
		{
			if (this.childNodes[1].style.visibility == 'hidden')
				return;
			else
			{
				var table = this.parentNode.parentNode.parentNode.getAttribute("id");

				var elemNumber = parseInt(this.parentNode.childNodes[1].childNodes[0].getAttribute("name")[29]);

				var rowNumber;
				if (table == "table1")
				{
					if (elemNumber < parts)
					{
						for (var i = 1;i<=parts;i++)
						{
							if (i > elemNumber)
							{
								rowNumber = i + 2;
									this.parentNode.parentNode.childNodes[rowNumber].childNodes[1].childNodes[0].setAttribute("name","publicacao[participantes[nome"+(i-1)+"]]");
							}							
						}
					}
					parts--;
				}

				var allNode = $(this).parent().parent().contents();

				if (elemNumber == 1 && oneHasNotBeenDeleted)
				{
					$(allNode.get()[elemNumber + 1]).remove();
					oneHasNotBeenDeleted = false;
				}
				else
					$(allNode.get()[elemNumber + 2]).remove();
			}				
		});
		$("button").click(function()
		{
			$(this).parent().append("<input id='publicacao_arquivo' name='publicacao[arquivo]' type='file'>");
			$(this).parent().children().each(function()
			{
				if ($(this).attr('type') == 'hidden')
					$(this).remove();
				if ($(this).attr('id') != 'publicacao_arquivo' && $(this).attr('for') != 'publicacao_arquivo')
					$(this).remove();
			});
			return false;
		});
	});  
</script>
<h4>Editar publicação</h4>

<% if @publicacao.errors.any? %>
  <div id="error_explanation" >
    <h5><%= pluralize(@publicacao.errors.count, "error") %>
    prohibited this publicação from being saved:</h5>
    <ul>
      <% @publicacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag("/publicacoes/"+@publicacao.id.to_s, :method => "put", :class => "edit_publicacoe", :multipart => true) do %>
  <div style="float:left;margin-right:100px">
    <%= label(:publicacao, :titulo, 'Título *') %><br/>
    <%= text_field(:publicacao, :titulo, :size => 60) %><br/>
  </div>

  <div style="float:left">
    <%= label(:publicacao, :ano, 'Ano *') %><br/>
    <%= text_field(:publicacao, :ano, :size => 5) %><br/>
  </div>

  <div class="clear"></div>

  <div style="float:left;margin-right:100px">
    <%= label(:publicacao, :suporte, 'Título do periódico/revista em que foi publicado *') %><br/>
    <%= text_field(:publicacao, :suporte) %><br/>
  </div>

  <div style="float:left;margin-right:50px">
    <%= label(:publicacao, :volume, 'Volume') %><br/>
    <%= text_field(:publicacao, :volume, :size => 5) %><br/>
  </div>

  <div style="float:left;margin-right:50px">
    <%= label(:publicacao, :pag_ini, 'Página Inicial') %><br/>
    <%= text_field(:publicacao, :pag_ini, :size => 5) %><br/>
  </div>

  <div style="float:left;">
    <%= label(:publicacao, :pag_final, 'Página Final') %><br/>
    <%= text_field(:publicacao, :pag_final, :size => 5) %><br/>
  </div>

  <div class="clear"></div>

  <%= label(:publicacao, :participantes, 'Autores *', :style => 'width:150px') %>
  <%= fields_for(:publicacao, :participantes) do |part| %>
    <table id="table1">
      <tr>
        <th>Nome
        </th>

        <td><%= image_tag "plus.png", :size => '18x18', :style => 'cursor:pointer;', :title => 'Add participante', :onClick => 'addRowToParticipantes();' %>
        </td>      
      </tr>

      <% i = 0%>
      <% @publicacao.participantes.each do i=i+1%>
      <% end %>

      <% if i == 0 %>
        <% i = 1 %>
      <% end %>

      <% for j in 1..i%>

        <tr>
          <td><input name="publicacao[participantes[nome<%= j.to_s %>]]" value="<%= @publicacao.participantes['nome'+j.to_s] %>" size="20" type="text" />
          </td>
          <td id="delete">
            <img src='/assets/trash-icon.png' style="visibility:hidden;">
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br/>

  <div>
    <%= label(:publicacao, :arquivo, 'Arquivo', :style => "width:156px") %>
    <% if @publicacao.arquivo.present? %>
      <%= link_to image_tag('pdf.png', :title => 'Visualizar em PDF'), '/pdfs/'+@publicacao.arquivo %><br/>
      <span style="margin-left:156px;font-size:9pt">Nome do arquivo: <%= @publicacao.arquivo %></span><br/>
      <button style="margin-left:156px;">Alterar</button><br/>
      <%= hidden_field(:publicacao, :arquivo, :value => @publicacao.arquivo)%>
    <% else %>
      <%= file_field(:publicacao, :arquivo) %><br/>
    <% end %>
  </div>
  <br/>

  <%= label(:publicacao, :tipo, 'Tipo *', :style => 'width:158px') %>
  <select selected="<%= @publicacao.tipo %>" name="publicacao[tipo]" value="<%= @publicacao.tipo %>">
    <option value="periodicos">Artigo publicado em Periódico</option>
    <option value="eventos">Artigo publicado em Anais de Eventos</option>
  </select>
  <br/><br/><br/>
  <%= submit_tag %>
<% end %>
<br/>

<div style="text-align:center"><%= link_to "voltar",url_for(:back) %></div>
