<script>
  $(document).ready(function()
  {
    $("#n4").css("background-color","white");
    $("#n4").css("border-top","4px solid #441d8d");
    $("#n4").css("border-top-right-radius","10px");
    $("#n4").css("color","black");
    $("title").text($("title").text() +" - Publicações");
  })
</script>

<table cellspacing="0">
  <% if session[:permission] == 'admin' %>
    <tr>
      <td>
        <%= link_to image_tag("doc_add.png", :title => "Adicionar publicação"), "/publicacoes/new" %>
      </td>
    </tr>
  <% end %>

  <tr>
    <th colspan=2>
      Periódicos
    </th>
  </tr>

  <% @publicacoes.each do |p| %>
    <% if p.tipo == 'periodicos' %>
      <tr>
          <td><% i = 0 %>
            <% p.participantes.each do i=i+1 %>
            <% end %>

            <% parts = Array.new %>
            <% for j in 1..i %>
              <% if Participante.find_by_nome(p.participantes['nome'+j.to_s]).present? %>
                <% nome = Participante.find_by_nome(p.participantes['nome'+j.to_s]).nome.split(" ") %>
                <% if nome.last == "Filho" or nome.last == "Neto" %>
                  <% nome1 = nome.pop %>
                  <% nome1 = nome.last.upcase+"-"+nome1.upcase+"," %>
                <% else %>
                  <% nome1 = nome.last.upcase+"," %>
                <% end %>
                <% nome2 = String.new %>
                <% nome.each do |n| %>
                  <% if n == "da" or n == "do" or n == "dos" or n == "de" or n == "Prof." or n == "Dr." %>
                    <% next %>
                  <% elsif n != nome.last %>
                    <% nome2 = nome2 + " "+n[0].upcase+"." %>
                  <% end %>
                <% end %>
                <% nome = nome1+nome2 %>
                <% temp = link_to(nome, Participante.find_by_nome(p.participantes['nome'+j.to_s])) %>
              <% else %>
                <% temp = p.participantes['nome'+j.to_s] %>
              <% end %>

              <% parts[j-1] = temp %>
            <% end %>

            <h4><%= raw(parts.join(", ")) %>. <%= link_to p.titulo, '/publicacoes/'+p.id.to_s %></h4>
            <% if session[:permission] == 'admin' %>
              <%= link_to image_tag("edit-icon.png", :size => "16x16", :title => "Editar"),'/publicacoes/'+p.id.to_s+'/edit' %>
              <%= link_to image_tag("trash-icon.png", :size => "16x16", :title => "Deletar"), '/publicacoes/'+p.id.to_s, :confirm => 'Are you sure you want to delete '+p.titulo+'?', :method => :delete %>
            <% end %>
          </td>

          <td valign="top">
            <% if p.arquivo.present? %>
              <%= link_to image_tag('pdf.png', :size => '36x36', :title => 'Download em PDF'), '/pdfs/'+p.arquivo %>
            <% end%>
          </td>

     </tr>
    <% end %>
  <% end %>
</table>

<table cellspacing="0">
  <% if session[:permission] == 'admin' %>
    <tr>
      <td>
        <%= link_to image_tag("doc_add.png", :title => "Adicionar publicação"), "/publicacoes/new" %>
      </td>
    </tr>
  <% end %>

  <tr>
    <th colspan=2>
      Anais de Eventos
    </th>
  </tr>

  <% @publicacoes.each do |p| %>
    <% if p.tipo == 'eventos' %>
      <tr>
          <td>
            <% p.participantes.each do i=i+1 %>
            <% end %>

            <% parts = Array.new %>
            <% for j in 1..i %>
              <% if Participante.find_by_nome(p.participantes['nome'+j.to_s]).present? %>
                <% nome = Participante.find_by_nome(p.participantes['nome'+j.to_s]).nome.split(" ") %>
                <% if nome.last == "Filho" or nome.last == "Neto" %>
                  <% nome1 = nome.pop %>
                  <% nome1 = nome.last.upcase+"-"+nome1.upcase+"," %>
                <% else %>
                  <% nome1 = nome.last.upcase+"," %>
                <% end %>
                <% nome2 = String.new %>
                <% nome.each do |n| %>
                  <% if n == "da" or n == "do" or n == "dos" or n == "de" or n == "Prof." or n == "Dr." %>
                    <% next %>
                  <% elsif n != nome.last %>
                    <% nome2 = nome2 + " "+n[0].upcase+"." %>
                  <% end %>
                <% end %>
                <% nome = nome1+nome2 %>
                <% temp = link_to(nome, Participante.find_by_nome(p.participantes['nome'+j.to_s])) %>
              <% else %>
                <% temp = p.participantes['nome'+j.to_s] %>
              <% end %>

              <% parts[j-1] = temp %>
            <% end %>

            <h4><%= raw(parts.join(",")) %><%= link_to p.titulo, '/publicacoes/'+p.id.to_s %></h4>
            <% if session[:permission] == 'admin' %>
              <%= link_to image_tag("edit-icon.png", :size => "16x16", :title => "Editar"),'/publicacoes/'+p.id.to_s+'/edit' %>
              <%= link_to image_tag("trash-icon.png", :size => "16x16", :title => "Deletar"), '/publicacoes/'+p.id.to_s, :confirm => 'Are you sure you want to delete '+p.titulo+'?', :method => :delete %>
            <% end %>
          </td>

          <td valign="top">
            <% if p.arquivo.present? %>
              <%= link_to image_tag('pdf.png', :size => '36x36', :title => 'Download em PDF'), '/pdfs/'+p.arquivo %>
            <% end%>
          </td>
     </tr>
    <% end %>
  <% end %>
</table>
