<script>
  $(document).ready(function()
  {
    $("#n4").css("background-color","white");
    $("#n4").css("border-top","4px solid #441d8d");
    $("#n4").css("border-top-right-radius","10px");
    $("#n4").css("color","black");
    $("title").text($("title").text() +" - Publicações");
  })
</script>

<table cellspacing="0">
  <% if session[:permission] == 'admin' %>
    <tr>
      <td>
        <%= link_to image_tag("doc_add.png", :title => "Adicionar publicação"), "/publicacoes/new" %>
      </td>
    </tr>
  <% end %>

  <tr>
    <th>
      Periódicos
    </th>
  </tr>

  <% @publicacoes.each do |p| %>
    <% if p.tipo == 'periodicos' %>
      <tr>
          <td>
            <h4><%= link_to p.titulo, p %></h4>
            <% if session[:permission] == 'admin' %>
              <%= link_to image_tag("edit-icon.png", :size => "16x16", :title => "Editar"),edit_publicacoe_path(p) %>
              <%= link_to image_tag("trash-icon.png", :size => "16x16", :title => "Deletar"), p, :confirm => 'Are you sure you want to delete '+p.titulo+'?', :method => :delete %>
            <% end %>
          </td>
     </tr>
    <% end %>
  <% end %>
</table>

<table cellspacing="0">
  <% if session[:permission] == 'admin' %>
    <tr>
      <td>
        <%= link_to image_tag("doc_add.png", :title => "Adicionar publicação"), "/publicacoes/new" %>
      </td>
    </tr>
  <% end %>

  <tr>
    <th>
      Anais de Eventos
    </th>
  </tr>

  <% @publicacoes.each do |p| %>
    <% if p.tipo == 'eventos' %>
      <tr>
          <td>
            <h4><%= link_to p.titulo, p %></h4>
            <% if session[:permission] == 'admin' %>
              <%= link_to image_tag("edit-icon.png", :size => "16x16", :title => "Editar"),edit_publicacoe_path(p) %>
              <%= link_to image_tag("trash-icon.png", :size => "16x16", :title => "Deletar"), p, :confirm => 'Are you sure you want to delete '+p.titulo+'?', :method => :delete %>
            <% end %>
          </td>
     </tr>
    <% end %>
  <% end %>
</table>
