<script>
  $(document).ready(function()
  {
    $("#n4").css("background-color","white");
    $("#n4").css("border-top","4px solid #441d8d");
    $("#n4").css("border-top-right-radius","10px");
    $("#n4").css("color","black");
    $("title").text($("title").text() +" - Publicação");
  })
</script>
<table cellspacing="0">


  <tr>
      <td>
        <h3><%= @publicacao.titulo %></h3>
				<% if session[:permission] == 'admin' %>
          	<%= link_to image_tag("edit-icon.png", :size => "16x16", :title => "Editar"),'/publicacoes/'+@publicacao.id.to_s+'/edit' %>
          	<%= link_to image_tag("trash-icon.png", :size => "16x16", :title => "Deletar"), p, :confirm => 'Are you sure you want to delete '+@publicacao.titulo+'?', :method => :delete %>
        <% end %>

				<% if @publicacao.arquivo.present? %>
					<%= link_to (image_tag "pdf.png", :size => '32x32', :title => "Download PDF", :style => "margin:12.5px 0 0 0;float:right"), '/pdfs/'+@publicacao.arquivo %>
				<% end %>

				<br/><br/>
        <% i = 0%>
        <% @publicacao.participantes.each do i=i+1%>
        <% end %>

        <% if i == 0 %>
          <% i = 2 %>
        <% end %>

        <% parts = Array.new%>
        <% for j in 1..i%>

          <% if Participante.find_by_nome(@publicacao.participantes['nome'+j.to_s]).present? %>
            <% temp =  link_to(Participante.find_by_nome(@publicacao.participantes['nome'+j.to_s]).nome, Participante.find_by_nome(@publicacao.participantes['nome'+j.to_s])) %>
          <% else %>
            <% temp = @publicacao.participantes['nome'+j.to_s] %>
          <% end %>

          <% parts[j-1] = temp %>
        <% end %>
        <span style="font-size:11pt"><%= raw parts.join(", ") %></span><br/>

				<h4>Abstract</h4>
				<%= simple_format(@publicacao.abstract, :style => "text-align:justify") %>
        
      </td>
  </tr>
</table>
