<script type="text/javascript">
	function iframeResponse(doc)
	{
		var src = doc.getElementById("image").getAttribute("src");
		src = src.split("/")[src.split("/").length - 1];
		document.getElementById("participante_foto_url").setAttribute("value",src);
	}
	function iframeDeletion()
	{
		document.getElementById("participante_foto_url").setAttribute("value","");
	}
	$(document).ready(function()
	{
		var maximum = 0;
		$("label").each(function()
		{
			if ($(this).width() > maximum)
				maximum = $(this).width();
		});
		$("label").width(maximum+100);
		$("button").css("margin-left",(maximum+100)+'px');
		$("label").css("display","block");

		$("button").click(function()
		{
			$(this).parent().append("<input id='participante_foto_url' name='participante[foto_url]' type='file'>");
			$(this).parent().children().each(function()
			{
				if ($(this).attr('type') == 'hidden')
					$(this).remove();
				if ($(this).attr('id') != 'participante_foto_url' && $(this).attr('for') != 'participante_foto_url')
					$(this).remove();
			});
			return false;
		});
	})
</script>
<% if @participante.errors.any? %>
  <div id="error_explanation" >
    <h5><%= image_tag "error.png", :size => '28x28', :style => "float:left;margin:-6px 5px 0 -10px" %><%= pluralize(@participante.errors.count, "erro") %>
    proibiram este participante de ser salvo:</h5>
    <ul>
      <% @participante.errors.each do |attr, msg| %>
        <% if attr.to_s == 'pass' %>
          <% attr = "senha" %>
        <% elsif attr.to_s == 'pass_confirmation' %>
          <% attr = "confirmação da senha" %>
        <% end %>
        <li><%= attr.to_s.capitalize!+" "+msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@participante, :html => {:multipart => true}) do |p|%>
  <%= p.label :nome, 'Nome *' %>
  <%= p.text_field :nome %><br/>

  <%= p.label :login, 'Login *' %>
  <%= p.text_field :login, :size => 15 %><br/>

  <% if !@participante.password.present? or @participante.errors.any? %>
    <%= p.label :pass, 'Senha *' %>
    <%= p.password_field :pass, :size => 15 %><br/>

    <%= p.label :pass_confirmation, 'Confirmar senha *' %>
    <%= p.password_field :pass_confirmation, :size => 15 %><br/>
  <% end %>

  <div>
    <%= p.label :foto_url, 'Foto' %>
    <%= p.hidden_field :foto_url %>
    <% if @participante.foto_url.present? %>
      <iframe src="/files/show_image?<%= @participante.foto_url %>" style="border:none;height:100px;width:500px;"></iframe>
    <% else %>
      <iframe src="/files/new_image" style="border:none;height:100px;width:500px;"></iframe>
    <% end %>
  </div>
  <br/>

  <%= p.label :descricao, 'Resumo do Currículo' %>
  <%= p.text_area :descricao, :cols => 70, :rows => 15 %><br/><br/>

  <%= p.label :projeto, 'Projeto de Pesquisa *' %>
  <%= p.text_field :projeto, :size => 50 %><br/>

  <%= p.label :email, 'E-mail *' %>
  <%= p.email_field :email, :size => 15 %><br/>

  <%= p.label :lattes, 'Lattes' %>
  <%= p.text_field :lattes %><br/>

  <% if session[:permission] == 'admin' and @participante.login != 'adminFOTEQ' %>
    <%= p.label :permission, 'Permissão' %>
    <%= p.select(:permission, options_for_select([['Administrador','admin'],['Aluno','student']], @participante.permission)) %><br/><br/>
  <% elsif @participante.login != 'adminFOTEQ' %>
    <%= p.hidden_field :permission, :value => "student" %><br/>
  <% else %>
    <%= p.hidden_field :permission, :value => "admin" %><br/>
  <% end %>
  <br/>
  <%= p.submit :id => "participantesButton" %>
<% end %>
<br/>
